name: CI

on:
  push:
  pull_request:
      
jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - uses: coursier/cache-action@v6

      - name: Install scala-cli
        uses: VirtusLab/scala-cli-setup@v1
        with:
          jvm: temurin:17

      - name: Run CI
        run: make check
